@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  width: 100vw;
  padding: 0 22px;

  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.desktop {
  display: none;
}

ion-icon {
  font-size: 22px;
}

main {
  margin-top: 54px;
}
