@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  width: 100vw;

  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
}

nav {
  height: 54px;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.desktop {
  display: none;
}

ion-icon {
  font-size: 22px;
}

.feed {
  margin: 55px 0;
}

.stories {
  height: 121px;
  padding: 0 18px;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 14px;
  border-top: 1px solid #dbdbdb;
}

.stories article {
  width: 66px;

  text-align: center;
}

.container {
  width: 66px;
  height: 66px;
  background: url("assets/images/stories_background.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

.stories p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #262626;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}

.stories ion-icon {
  display: none;
}

.posts article {
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 16px;
}

.post-header {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 18px;
}

.post-header p {
  color: #262626;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.post-header ion-icon {
  color: #262626;
  font-size: 16px;
  margin-left: auto;
}

video {
  max-width: 100%;
}

.post-icons {
  height: 42px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  gap: 18px;
}

.post-icons ion-icon {
  font-size: 18px;
}

.post-icons ion-icon:last-of-type {
  margin-left: auto;
}

.likes {
  height: 34px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 18px;
}

.likes p {
  font-weight: 300;
}

f .likes strong {
  font-weight: 500;
}

.comments {
  padding: 0 18px;
}

.comments button {
  color: #8e8e8e;
  margin-bottom: 5px;
}

.comments div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments ion-icon {
  font-size: 16px;
}

.user-comment {
  padding: 0 18px;
}

input {
  color: #979797;
  font-weight: 600;
}

input::placeholder {
  font-weight: 400;
}

.user-comment {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #dbdbdb;
  margin-top: 10px;
}

.user-comment input {
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0;
}

.user-comment button {
  color: #b2dffc;
}

.user-comment button:hover {
  color: #0095f6;
}

aside {
  display: none;
}

footer {
  width: 100vw;
  height: 54px;
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19px;

  background-color: #fff;
  border-top: 1px solid #dbdbdb;
}
