@media (min-width: 615px) {
  header {
    border-bottom: 1px solid #dbdbdb;
  }

  nav:not(.desktop) {
    display: none;
  }

  nav.desktop {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    gap: 10px;
  }

  ion-icon,
  button {
    transition: all 300ms;
  }

  ion-icon:hover {
    color: #ff698c;
    cursor: pointer;
    scale: 1.2;
  }

  .logo-separator {
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
  }

  nav input {
    width: 215px;
    height: 28px;

    font-size: 12px;
    line-height: 14px;
    text-align: center;

    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }

  nav input:focus {
    border: 2px solid #ff698c;
    color: #ff698c;
  }

  .actions {
    display: flex;
    gap: 20px;
  }

  main {
    max-width: 614px;
    margin: 88px auto;
  }

  .stories {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 24px;

    position: relative;
  }

  .stories ion-icon {
    display: initial;
    font-size: 32px;
    color: #fff;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    right: 8px;
    top: 43px;
  }

  .posts article {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }

  button:hover {
    cursor: pointer;
  }
  .comments button:hover,
  aside button:hover {
    color: #ff698c;
  }

  .user-comment button:hover {
    color: #0095f6;
  }

  footer {
    display: none;
  }
}

@media (min-width: 936px) {
  nav {
    width: 936px;
    margin: 0 auto;
    padding: 0;
  }

  .feed {
    width: 936px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  main {
    margin-left: 0;
    margin-right: 0;
  }

  aside {
    width: 293px;
    height: fit-content;
    display: initial;

    position: sticky;
    top: 88px;
    right: 0;

    color: #262626;
  }

  aside strong {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .user {
    height: 104px;
    display: flex;
    align-items: center;
    gap: 17px;
  }

  .user p {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 16px;
  }

  .suggestions > div {
    display: flex;
    gap: 11px;
    margin-bottom: 16px;
  }

  .suggestion-header {
    font-weight: 500;
  }

  .suggestions {
    font-size: 12px;
    line-height: 14px;
  }

  .suggestions p {
    color: #8e8e8e;
  }

  .suggestion button {
    margin-left: auto;
    font-weight: 500;
    color: #139ef2;
  }

  .links, .copyright {
    font-size: 11px;
    line-height: 13px;
    color: #c7c7c7;
    margin: 18px 0;
  }

  a:hover {
    font-weight: 500;
    color: #ff698c;
  }
}
